.custom-mb-3 {
    width: 30% !important;
    margin: 10px auto;
}

.custum-input {
    border: 0.5px solid #0aaf88!important;
}

.my-custom-button {
    font-family: 'Roboto', sans-serif;
    background-color: #ffffff;
    color: #0aaf91!important;
    border: 0.5px solid #0aaf88!important;
}

.my-custom-button:hover {
    background-color:#0aaf83!important;
    color: #ffffff!important;
}
