.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #f0f0f0;
}

.breadcrumbs-container {
  flex-grow: 1;
}

.cart-icon-container {
  position: relative;
  margin-right: 75px;
}



.bucket-style {
  color: #1571d3;
}

.bucket-style:hover {
  color: #0d3f79;
  transform: scale(1.07);
  cursor: pointer;
}

.inactive-cart {
  color: grey;
}

.inactive-cart:hover {
  color: grey;
  transform: scale(1.00);
}

.cart-counter {
  font-family: 'Roboto', sans-serif;
  border: 2px solid white;
  background-color: #1571d3;
  color: white;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  font-size: 100%;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: -17px;
  bottom: -8px;
}


cart-link {
  text-decoration: none;
  color: inherit;
}

.cart-link:hover {
  text-decoration: none;
}

.applications-button{
  color: #ffffff!important;
  text-decoration: none!important;
  background-color: #1571d3;
  padding: 5px 12px;
  font-size: 17px;
  font-weight : inherit;
  margin-right: 20px;
  border-radius: 13px;
}

.applications-button:hover {
  background-color: #0e437c;
  text-decoration: none!important;
  border-radius: 13px;
  color: #ffffff;
  transform: translateY(-0.5px);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}