.custom-card {
    position: relative;
    background-color: #0d92cc;
    border: none;
    border-radius: 20px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
    transition: transform 0.3s ease-in-out;
    margin-bottom: 20px;
    width: 27vw;
    height: 27vw;
  }
  
  .custom-card-img {
    width: 100%;
    height: 80%;
    margin: 0 auto;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

  }
  
  .custom-card a {
    text-decoration: none;
  }

  .custom-card-text {
    font-family: 'Roboto', sans-serif;
    font-size: 1.4vw;
    font-weight: bold;
    color: white;
  }
  .custom-card-price {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2vw;
    color: white;

  }
  
  .custom-card:hover {
    transform: translateY(-5px);
  }

  .add-to-cart-container {
    position: absolute;
    bottom: 1%;
    right: 1%;
    display: flex;
    align-items: flex-end;
  }
  
  .add-to-cart-button {
    font-family: 'Roboto', sans-serif;
    background-color: #4CAF50;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
  }
  
  .add-to-cart-button:hover {
    background-color: #45a049;
  }
  
  