.routes-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .table-routes {
    color: #0a5baf;
    border-collapse: collapse;
    width: 80%;
    margin-bottom: 20px;
  }
  
  .table-routes th, .table-routes td {
    border: 2px solid #0a5baf;
    padding: 10px;
    text-align: center;
    vertical-align: middle;
  }

  .routes-title {
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
    font-weight: bold;
    color: #0a5baf;
    text-align: center;
    margin-top: 0.5%;
 }

 .custom-text {
    color: #2b497c !important;
  }