main-label {
    font-size: 40px;
    color: white;
}

.main-link-button {
    font-family: 'Roboto', sans-serif;
    padding: 12px 12px;
    font-size: 20px;
    text-decoration: none;
    margin-right: 20px;
    border: 2px solid #0aaf54;
    border-radius: 10px;
    color: #0adbbc;
}

.button-container {
    margin-top: 25px;
}

.main-link-button:hover {
    background-color: #0aaf54;
    color: #f9f9f9;
}

.main-description-text {
    color: #000000;
    font-size: 18px;
}
